body {
	background: #ddd;
	margin: 1rem;
	padding: 1rem;
	max-width: 500px;
	margin: 2rem auto;
	font-family: "Open Sans", sans-serif;
  }
  
  nav {
	  border-bottom: 2px solid purple;
  }
  
  ol {
	  padding-left: 0;
  }
  
  .crumb {
	  margin-right: 2em;
	  display: inline;
  }
  
  a {
	  color: orange;
  }
  
  a:visited {
	  color: coral;
  }
  
  
  input {
	  display: block;
  }
  
  img {
	  max-width: 300px;
  }
  
  

  ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

ul li{
	float: left;
	width: auto;
	height:auto;
	background-color: grey;
	opacity: .9;
	line-height: 40px;
	text-align: center;
	font-size: 20px



}
